footer {
  background: darken($bg-container, 70%);
  color: black-or-white-color(darken($bg-container, 70%));
  height: 190px;
  padding: 10px 20px 0 20px;
  @include tab {
    text-align: center;
  }
  & h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 100;
    text-align: start;
    font-size: 18px;
    @include tab {
      text-align: center;
    }
  }
  & .footer__nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    font-size: 15px;
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      text-align: center;
      margin: auto;
    }

    & a {
      transition: all ease-in-out 450ms;
      display: block;
      & i {
        margin-right: 10px;
        max-width: 15px;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}
