.bg-store {
  height: 275px;
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 400ms;
  @include tab {
    height: 425px;
  }
  @include desktop {
    height: 575px;
  }
}
