@include recipe_store(
  $store4-appetizer-1: (
    title: "Tartare de thon",
    details: "Assaisonné au yuzu",
    price: "25€",
    time: 1s,
  ),
  $store4-appetizer-2: (
    title: "Bouchée de homard croustillant",
    details: "Et sa farandole de petits légumes",
    price: "35€",
    time: 2s,
  ),
  $store4-appetizer-3: (
    title: "Velouté de cèpes",
    details: "aux truffes",
    price: "20€",
    time: 3s,
  ),
  $store4-appetizer-4: (
    title: "Foie gras de canard cuit entier",
    details: "Confiture de figue et pain toasté",
    price: "35€",
    time: 4s,
  ),
  $store4-meal-1: (
    title: "Poulet rôti aux herbes de Provence",
    details: "Et sa crème de truffe",
    price: "40€",
    time: 1s,
  ),
  $store4-meal-2: (
    title: "Langouste rôtie",
    details: "Et ses légumes de saison",
    price: "35€",
    time: 2s,
  ),
  $store4-meal-3: (
    title: "Côte de boeuf Angus",
    details: "Et sa purée de panais",
    price: "44€",
    time: 3s,
  ),
  $store4-dessert-1: (
    title: "Farandole de desserts",
    details: "Du chef",
    price: "18€",
    time: 1s,
  ),
  $store4-dessert-2: (
    title: "Crème Brulée",
    details: "Revisitée",
    price: "22€",
    time: 2s,
  ),
  $store4-dessert-3: (
    title: "Tiramisu",
    details: "A la noisette",
    price: "23€",
    time: 3s,
  )
);
