@include recipe_store(
  $store1-appetizer-1: (
    title: "Fricassée d'escargot",
    details: "Au piment d'Espelette",
    price: "25€",
  ),
  $store1-appetizer-2: (
    title: "Foie gras de canard mi-cuit",
    details: "Et ses copeaux de truffe noire",
    price: "35€",
  ),
  $store1-appetizer-3: (
    title: "Oeuf au plat",
    details: "Assaisonnée à la truffe sur lit de caviar",
    price: "20€",
  ),
  $store1-meal-1: (
    title: "Filet de boeuf aux herbes",
    details: "Accompagné de sa ribambelle de légumes",
    price: "40€",
  ),
  $store1-meal-2: (
    title: "Parmentier de queue de boeuf",
    details: "A la truffe noire sur sa purée de panais",
    price: "35€",
  ),
  $store1-meal-3: (
    title: "Filet de turbot",
    details: "Aux agrumes",
    price: "44€",
  ),
  $store1-dessert-1: (
    title: "Paris-Brest",
    details: "Revisité",
    price: "18€",
  ),
  $store1-dessert-2: (
    title: "Macaron au chocolat d'exception",
    details: "Et glace à la vanille de Madagascar",
    price: "22€",
  ),
  $store1-dessert-3: (
    title: "Mousse au chocolat",
    details: "Au piment d'Espelette et à la truffe noire",
    price: "23€",
  )
);
