@include recipe_store(
  $store3-appetizer-1: (
    title: "Tartare de poulpe acidulé",
    details: "Aux zestes d'orange",
    price: "25€",
    time: 1s,
  ),
  $store3-appetizer-2: (
    title: "Velouté de légume d'antan",
    details: "Carotte, panais, topinambour",
    price: "35€",
    time: 2s,
  ),
  $store3-appetizer-3: (
    title: "Soupe à l'oignon",
    details: "Revisitée",
    price: "20€",
    time: 3s,
  ),
  $store3-meal-1: (
    title: "Coquilles Saint-Jacques",
    details: "Accompagnées d'une purée de panais",
    price: "40€",
    time: 1s,
  ),
  $store3-meal-2: (
    title: "Magret de canard",
    details: "Et parmentier de pommes de terre",
    price: "35€",
    time: 2s,
  ),
  $store3-meal-3: (
    title: "Pigeonneau d’Ille-et-Vilaine",
    details: "Sur son lit de gnocchis aux légumes",
    price: "44€",
    time: 3s,
  ),
  $store3-dessert-1: (
    title: "Pétales de violettes glacés",
    details: "Et purée de noisettes",
    price: "18€",
    time: 1s,
  ),
  $store3-dessert-2: (
    title: "Pétales de violettes glacés",
    details: "Et purée de noisettes",
    price: "22€",
    time: 2s,
  ),
  $store3-dessert-3: (
    title: "Millefeuille croustillant",
    details: "Myrtilles et pâte d’amande",
    price: "23€",
    time: 3s,
  )
);
