@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
.bg-store1 {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bg-store2 {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.bg-store3 {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.bg-store4 {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

body {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 50px) minmax(992px, 1340px) minmax(0, 50px);
  grid-template-rows: 1fr;
}
@media screen and (max-width: 767px) {
  body {
    grid-template-columns: minmax(0, 50px) minmax(375px, 767px) minmax(0, 50px);
  }
}

.container-page {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f7f7f7;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none;
}

.color-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  border: none;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
  background: #9356dc;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
  transition: all ease-in-out 700ms;
}
button:hover {
  background: linear-gradient(176deg, #9356dc 0%, #ff79da 100%);
  filter: drop-shadow(0px 2px 10px #9356dc);
  transition: all ease-in-out 700ms;
}

.card__fct {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card__fct .badge__left {
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  width: 22px;
  height: 18px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  padding-top: 4px;
  position: relative;
  left: -15px;
}
.card__fct i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.card__fct span {
  margin-left: 20px;
}
.card__fct__bg-color {
  background-color: #f5eafa;
}
.card__fct__bg-color i {
  color: #9356dc;
}
.card__store {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
  height: 250px;
  border-radius: 15px 15px;
  background-color: white;
  transition: all ease-in-out 400ms;
}
.card__store:hover {
  filter: drop-shadow(0px 0px 15px rgba(147, 86, 220, 0.4));
  transition: all ease-in-out 400ms;
}
.card__store:hover h2 {
  color: #9356dc;
  transition: all ease-in-out 500ms;
}
.card__store__img {
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
}
.card__store__badge {
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  margin: 10px;
  width: min-content;
  position: absolute;
  right: 0;
  font-size: 14px;
  transition: all ease-in-out 700ms;
}
.card__store__badge:hover {
  transform: scale(1.2);
  transition: all ease-in-out 700ms;
}
.card__store__banner {
  background-color: transparent;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 90%;
  position: absolute;
  bottom: 0;
}
.card__store__banner h2,
.card__store__banner h3 {
  margin: 2px 10px;
  font-size: 18px;
}
.card__store__love {
  width: 23px;
  height: 23px;
  color: transparent;
  background-color: black;
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart">        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>        </svg>');
  -webkit-mask: var(--svg);
  mask: var(--svg);
  transition: all ease-in-out 700ms;
}
.card__store__love:hover {
  color: transparent;
  background: #9356dc;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart-fill">        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>        </svg>');
  transition: all ease-in-out 700ms;
  cursor: pointer;
}
.card__store__img {
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
}
.card__store__badge {
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  margin: 10px;
  width: min-content;
  position: absolute;
  right: 0;
  font-size: 14px;
  transition: all ease-in-out 700ms;
}
.card__store__badge:hover {
  transform: scale(1.2);
  transition: all ease-in-out 700ms;
}
.card__store__banner {
  background-color: transparent;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 90%;
  position: absolute;
  bottom: 0;
}
.card__store__banner h2,
.card__store__banner h3 {
  margin: 2px 10px;
  font-size: 18px;
}
.card__store__love {
  width: 23px;
  height: 23px;
  color: transparent;
  background-color: black;
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart">        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>        </svg>');
  -webkit-mask: var(--svg);
  mask: var(--svg);
  transition: all ease-in-out 700ms;
}
.card__store__love:hover {
  color: transparent;
  background: #9356dc;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart-fill">        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>        </svg>');
  transition: all ease-in-out 700ms;
  cursor: pointer;
}
.card__store__img {
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
}
.card__store__badge {
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  margin: 10px;
  width: min-content;
  position: absolute;
  right: 0;
  font-size: 14px;
  transition: all ease-in-out 700ms;
}
.card__store__badge:hover {
  transform: scale(1.2);
  transition: all ease-in-out 700ms;
}
.card__store__banner {
  background-color: transparent;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 90%;
  position: absolute;
  bottom: 0;
}
.card__store__banner h2,
.card__store__banner h3 {
  margin: 2px 10px;
  font-size: 18px;
}
.card__store__love {
  width: 23px;
  height: 23px;
  color: transparent;
  background-color: black;
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart">        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>        </svg>');
  -webkit-mask: var(--svg);
  mask: var(--svg);
  transition: all ease-in-out 700ms;
}
.card__store__love:hover {
  color: transparent;
  background: #9356dc;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart-fill">        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>        </svg>');
  transition: all ease-in-out 700ms;
  cursor: pointer;
}
.card__store__img {
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
}
.card__store__badge {
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  margin: 10px;
  width: min-content;
  position: absolute;
  right: 0;
  font-size: 14px;
  transition: all ease-in-out 700ms;
}
.card__store__badge:hover {
  transform: scale(1.2);
  transition: all ease-in-out 700ms;
}
.card__store__banner {
  background-color: transparent;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 90%;
  position: absolute;
  bottom: 0;
}
.card__store__banner h2,
.card__store__banner h3 {
  margin: 2px 10px;
  font-size: 18px;
}
.card__store__love {
  width: 23px;
  height: 23px;
  color: transparent;
  background-color: black;
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart">        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>        </svg>');
  -webkit-mask: var(--svg);
  mask: var(--svg);
  transition: all ease-in-out 700ms;
}
.card__store__love:hover {
  color: transparent;
  background: #9356dc;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  --svg: url('data:image/svg+xml,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart-fill">        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>        </svg>');
  transition: all ease-in-out 700ms;
  cursor: pointer;
}

header {
  background-color: white;
}

nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}
@media screen and (max-width: 767px) {
  nav {
    height: 63px;
  }
}
nav .nav__icon-return {
  height: 10px;
  font-size: 20px;
  color: #353535;
  position: relative;
  top: 10px;
  left: 23px;
}
nav .nav__logo {
  width: 100%;
  text-align: center;
}
nav .nav__logo img {
  width: 170px;
}

@media screen and (max-width: 767px) {
  .section__search {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    color: #353535;
  }
}
.section__search .section__search_icon {
  font-size: 18px;
}
.section__search .section__search_text {
  padding-left: 15px;
}

.section__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 285px;
  margin: auto;
  margin-bottom: 0;
  text-align: center;
  background-color: #f7f7f7;
}
.section__presentation div {
  width: 85%;
}
.section__presentation button {
  margin-bottom: 20px;
}

.section__fct {
  margin-top: -20px;
  height: 390px;
  padding: 25px 25px;
}
.section__fct h2 {
  margin-left: -10px;
}
.section__fct__list {
  margin-top: 40px;
}
.section__fct__list article {
  margin: 20px 5px 20px 5px;
}

.section__store {
  padding: 30px 15px;
}

footer {
  background: #454545;
  color: white;
  height: 190px;
  padding: 10px 20px 0 20px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 16px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin: 10px 0;
  font-weight: 400;
}
footer ul li i {
  font-size: 14px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
