.btn__action {
  margin: -10px auto 15px auto;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  border: none;
  box-shadow: 10px 10px 15px rgba($color-primary, 0.4),
    -5px -5px 5px rgba(0, 0, 0, 0.1);
  background: $color-primary;
  background: linear-gradient(176deg, $color-secondary 0%, $color-primary 100%);
  cursor: pointer;
  transition: all ease-in-out 700ms;
  position: relative;
  z-index: 1;
  opacity: 1;
  &:hover {
    &::after {
      opacity: 0.5;
    }
  }
  &::after {
    content: "";
    box-shadow: 5px 5px 10px rgba($color-primary, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    padding: 15px 18px;
    opacity: 0;
    background-color: $color-secondary;
    z-index: -1;
    transition: opacity 250ms;
  }
}

.card {
  &__fct {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: $bg__container;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & .badge__left {
      border-radius: 50px;
      background-color: $color-primary;
      color: white;
      width: 22px;
      height: 18px;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      padding-top: 3px;
      position: relative;
      left: -12px;
    }
    & i {
      color: rgba($color__font-primary, 0.4);
      font-size: 20px;
      margin-left: 10px;
    }
    & span {
      margin-left: 25px;
    }
    &__bg-color {
      background-color: lighten(
        mix($color-primary, $color-secondary, 70%),
        33%
      );
      & i {
        color: $color-primary;
      }
    }
  }
  &__store {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    border-radius: 15px;
    background-color: white;
    @include mobile {
      height: 250px;
    }

    &__img {
      height: 375px;
      border-radius: 15px 15px 0 0;
      background-size: cover;
      background-position: bottom;
      @include mobile {
        height: 175px;
      }
      &:hover > .card__store__badge {
        background-color: $color-primary;
        color: lighten($color-primary, 35%);
      }
    }
    &__badge {
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      padding: 5px 10px;
      margin: 10px;
      position: relative;
      float: right;
      font-size: 14px;
      z-index: 1;
      transition: all ease-in-out 450ms;
    }
    &__banner {
      background-color: transparent;
      border-radius: 0 0 15px 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      width: 90%;
      & h2,
      h3 {
        margin: 2px 10px;
        font-size: 18px;
      }
    }
  }
  &__buy {
    &__title {
      font-size: 16px;
      border-bottom: 3px solid $color-tertiary;
      width: 40px;
      padding-bottom: 4px;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 10px;
      width: 100%;
    }
    &__recipe {
      cursor: pointer;
      background-color: white;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      width: 100%;
      height: 68px;
      overflow: hidden;

      .part__recipe {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: 0;
        transition: all ease-in-out 400ms;
      }
      .part__widget {
        color: white;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        background-color: $color-tertiary;
        width: 0;
        height: 68px;
        border-radius: 0 15px 15px 0;
        transition: all ease-in-out 700ms;
        box-sizing: border-box;
        & svg {
          position: relative;
          top: 35%;
          right: 0;
          width: 23px;
          height: 23px;
          transform: translateX(30px) rotate(360deg);
          transition: all ease-in-out 700ms;
        }
      }
      &:hover {
        .part__recipe {
          width: calc(100% - 60px);
          transition: all ease-in-out 700ms;
        }
        .part__widget {
          width: 60px;
          transition: all ease-in-out 700ms;
          & svg {
            transform: translateX(18px) rotate(0deg);
            transition: all ease-in-out 700ms;
          }
        }
      }

      & h4 {
        margin: 0;
        white-space: nowrap;
        overflow-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        font-size: 18px;
        font-weight: 500;
      }

      &__details {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: 1fr;
        margin-top: 3px;
        font-size: 16px;
        width: 100%;

        & .recipe__details {
          font-weight: 300;
          white-space: nowrap;
          overflow-wrap: break-word;
          overflow: clip;
          text-overflow: ellipsis;
          grid-column-start: 1;
          grid-column-end: 2;
          margin-right: 3px;
        }
        & .recipe__price {
          grid-column-start: 2;
          grid-column-end: 3;
          text-align: center;
        }
      }
    }
  }
}

.widget__love {
  & div {
    margin-right: -40px;
    cursor: pointer;
    & i {
      font-size: 26px;
    }
    & .fa-regular {
      opacity: 1;
      transition: all ease-in-out 400ms;
    }
    & .fa-solid {
      color: transparent;
      position: relative;
      right: 30px;
      top: 2px;
      background: linear-gradient(
        176deg,
        $color-secondary 0%,
        $color-primary 100%
      );
      --svg: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart-fill">\
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>\
      </svg>');
      mask-image: var(--svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
      opacity: 0;
      transition: all ease-in-out 500ms;
    }
    &:hover {
      & .fa-regular {
        opacity: 0;
      }
      & .fa-solid {
        opacity: 1;
      }
    }
  }
}
