body {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: 1fr;
}
.loading-page {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: $bg__container;
}

.container-page {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: $bg__container;
}
.mr-2 {
  margin-right: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-none {
  display: none;
}
.color-white {
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
