body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 50px) minmax(992px, 1340px) minmax(0, 50px);
  grid-template-rows: 1fr;
  @include tab {
    grid-template-columns:
      minmax(0, 50px) minmax(
        map-get($breakpoint, mobile),
        map-get($breakpoint, tab)
      )
      minmax(0, 50px);
  }
  @include mobile {
    grid-template-columns:
      minmax(0, 50px) minmax(375px, map-get($breakpoint, mobile))
      minmax(0, 50px);
  }
}
.loading-page {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: $bg__container;
}

.container-page {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: $bg__container;
}
.mr-2 {
  margin-right: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-none {
  display: none;
}
.color-white {
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
