@use "sass:meta";

@function black-or-white-color($bgcolor) {
  @if (lightness($bgcolor) >= 50%) {
    @return black;
  } @else {
    @return white;
  }
}

@function darken-bg-container($bg__container) {
  @return darken($bg__container, 10%);
}

@function lighten-color-50($color) {
  @return lighten($color, 50%);
}

@mixin card__bg__store__img($args...) {
  @each $name, $img in meta.keywords($args) {
    .bg-#{$name} {
      background-image: $img;
    }
  }
}

@keyframes loadingfadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadingfadeout {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@mixin loading {
  .loading-page {
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    animation: loadingfadeout 2s;
  }
}
