@use "sass:meta";
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  10% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin recipe-store($args...) {
  $i: 400ms;
  @each $name, $values in meta.keywords($args) {
    .#{$name} {
      animation: fadeIn $i 2000ms;
      & .recipe__title::before {
        content: map-get($values, title);
      }
      & .recipe__details::before {
        content: map-get($values, details);
      }
      & .recipe__price::before {
        content: map-get($values, price);
      }
    }
    $i: $i + 400ms;
  }
}
