.loading-page {
  position: absolute;
  min-width: 0vw;
  min-height: 0vh;
  opacity: 0;
  animation: loadingfadeout 2s linear;
}
.container-page {
  animation: loadingfadein 2s linear;
  visibility: visible;
}
.loader::after,
.loader::before {
  content: "";
  transform: scale(1);
  border-radius: 50%;
  border: 2px solid $color-primary;
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  animation-delay: 500ms;
  animation: animloader 1s linear infinite;
}
.loader::after {
  animation-delay: 500ms;
}

@keyframes animloader {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes loadingfadeout {
  0% {
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1001;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    min-width: 100vw;
    min-height: 100vh;
  }
  100% {
    opacity: 0;
    min-width: 0vw;
    min-height: 0vh;
  }
}

@keyframes loadingfadein {
  0% {
    visibility: hidden;
  }
  90% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
