$breakpoint: (
  tab: 1024px,
  mobile: 767px,
);

@mixin tab {
  @media screen and (max-width: map-get($breakpoint, tab)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoint, mobile)) {
    @content;
  }
}
